<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>about page</title>
    <style>
        #container{
            text-align: center;
            font-family: Bahnschrift;
            padding-top: 10rem;
            font-size: xx-large;
        }

        .header_button a {
        text-decoration: none;
        color: navajowhite;
        box-shadow: 4px 4px #f19b62;
        border-radius: 50px;
        padding: .65rem;
        background-color: #ec5f00;
    }

    .header_button a:hover{
         color: lightcoral;
    }
    </style>
</head>
<body>
<div id="container">
    <h3>Sorry!!!</h3>
   <h1> Under Construction</h1>
    <h2>we will be available soon </h2>

    <div class="header_button">

            <a href="{% url 'home' %}"> back</a>
        </div>
</div>


</body>
</html>